<!DOCTYPE html>
<html>
<head>
  <title>Visma</title>
  <%= stylesheet_link_tag    "visma/application", media: "all" %>
  <%= javascript_include_tag "visma/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
